[Unit]
Description=status-led is setting the status LED after boot
After=multi-user.target emos.target
ConditionPathExists=!/update/end_of_life

[Service]
Type=simple
ExecStart=/usr/bin/status-led

[Install]
WantedBy=multi-user.target
