[Unit]
Description=micrel-netdev-daemon for handling network link status
Wants=em-app-micrel-switch-tool.service systemd-networkd.service
After=em-app-micrel-switch-tool.service systemd-networkd.service

[Service]
Type=simple
ExecStart=/usr/bin/micrel-netdev-daemon
Restart=on-failure
RestartSec=3

[Install]
WantedBy=network.target
