[Unit]
Description=EMOS post-upgrade finalization

Wants=rauc-mark-good.service
After=rauc-mark-good.service

ConditionPathExists=/update/status

[Service]
Type=oneshot
ExecStart=/usr/lib/emos/upgrade/emos-upgrade-finalize
CPUSchedulingPolicy=idle
CPUSchedulingPriority=0
IOSchedulingClass=idle
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
