[Unit]
Description=EMOS post-upgrade cleanup

Wants=rauc-mark-good.service
After=rauc-mark-good.service

ConditionPathExists=/update/status

[Service]
Type=oneshot
ExecStart=/usr/lib/emos/upgrade/emos-upgrade-finalize

[Install]
WantedBy=multi-user.target
